<template>
  <section>
    <label>
      message:
      <input type="text" v-model="message" />
    </label>
    <button @click="throwError">Throw</button>
  </section>
</template>

<script>
export default {
  name: 'ThrowError',
  data() {
    return {
      message: 'Hello!',
    };
  },
  methods: {
    throwError() {
      throw Error(this.message);
    },
  },
};
</script>

<style scoped>

</style>
