<template>
  <div id="app">
    <throw-error />
  </div>
</template>

<script>
import ThrowError from '@/components/ThrowError.vue';

export default {
  name: 'App',
  components: {
    ThrowError,
  },
};
</script>

<style lang="scss">
#app {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
  margin-top: 60px;
}
</style>
